:root {
  --darkest: #0b0c10;
  --second-dark: #1f2833;
  --third-dark: #435060;
  --highlights: #c5c6c7;
  --primary: #66fcf1;
  --secondary: #45a29e;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Quicksand';
    color: #fff;
    letter-spacing: 1px;
}

body {
    background-color: var(--third-dark);
    font-size: 14px;
    min-width: 720px;
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: var(--second-dark);
    bottom: 0;
    position: fixed;
    /*height: 100px; remove later */
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight {
    width: 30%;
    min-width: 180px;
}


#nowPlayingRight {
    position: relative;
    margin-top: 16px;   
}

#nowPlayingCenter {
    width: 40%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img, .controlButton.pause img {
    width: 32px;
    height: 32px;
}

.controlButton:hover {
    cursor: pointer;
}

.playbackBar {
    display: flex;
}

.progressTime {
    color: var(--highlights);
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.playbackBar .progressBar {
    margin-top: 4px;
}

.progressBarBg {
    background-color: var(--third-dark);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: var(--highlights);
    height: 4px;
    width: 0;
    border-radius: 2px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

.trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: var(--highlights);
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#topContainer #navBarContainer {
    background-color: var(--darkest);
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#topContainer .navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navBar .group {
    border-top: 1px solid var(--highlights);
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: var(--highlights);
    text-decoration: none;
    transition: .3s;
}

.navItemLink:hover {
    color: var(--primary);
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer {
    width: calc(100% - 220px);
    margin-left: 220px;
    padding-bottom: 90px;
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img {
    width: 100%;
    margin-top: 20px;

}

.gridViewInfo {
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
}    

.gridViewItem:hover .gridViewInfo {
    color: var(--primary);
}

.gridViewItem a {
    text-decoration: none;
}

.entityInfo {
    padding: 35px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 350px;
}

.entityInfo .leftSection img {
    width: 100%
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 28px;
}

.entityInfo .rightSection p {
    color: var(--highlights);
    font-weight: 200;
}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.trackListRow span {
    color: var(--highlights);
    font-weight: 200;
}

.trackListRow:hover {
    background-color: var(--second-dark);
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
    width: 75%;
    float: left;
}

.trackListRow .trackInfo .trackName {
    color: white;
    font-weight: 400;
    margin-bottom: 7px;
}

.trackListRow .trackInfo span {
    display: block;
}

.trackListRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

.artistInfo {
    text-align: center;
}

.button {
    cursor: pointer;
    color: var(--highlights);
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid var(--highlights);
    border-radius: 15px;
    min-width: 130px;
    padding: 5px
}

.button.blue {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--darkest);
}

.borderBottom {
    border-bottom: 1px solid var(--highlights);
}

.trackListContainer h2,
.gridViewContainer h2 {
    text-align: center;
}

[role="link"] {
    cursor: pointer;
}